<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delete blog</title>
</head>
<body>
<h1>Delete blog</h1>
<h2>Are you sure?</h2>
<p>
  <a href="/blogs">Blog list</a>
</p>
<form th:action="@{/delete}" th:object="${blog}" method="post">
  <input th:type="hidden" name="id" th:field="*{id}">
  <table>
    <tr>
      <td>Tieu de:</td>
      <td th:text="${blog.tenBlog}"></td>
    </tr>
    <tr>
      <td>Noi dung:</td>
      <td th:text="${blog.noiDung}"></td>
    </tr>
    <tr>
      <td>Mo ta:</td>
      <td th:text="${blog.moTa}"></td>
    </tr>
    <tr>
      <td>Tac gia:</td>
      <td th:text="${blog.tenTacGia}"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Delete blog"></td>
    </tr>
  </table>
</form>
</body>
</html>