<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<p>
  <a href="/shop">Shop</a>
</p>
<br>
<form th:object="${product}" action="/shopping-cart/payone" method="post">
  <input type="hidden" th:field="*{id}">
  <table>
    <tr>
      <td th:text="${product.name}"></td>
    </tr>
    <tr>
      <td><img th:src="${product.image}" alt="image" width="200px" height="200px"/></td>
    </tr>
    <tr>
      <td th:text="${product.price}"></td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="MUA NGAY">
      </td>
    </tr>
  </table>
</form>
</body>
</html>