<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create-Oder</title>
</head>
<body>
<a th:href="@{/oders}">List oder type</a>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-oder}" th:object="${oder}" method="post">
    <table>
        <tr>
            <td>Book:</td>
            <td>
                <select th:field="*{book}">
                    <option th:each="item :${books}"
                            th:value="${item.id}" th:text="${item.nameBook}" th:if="${item.quantity>0}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Quantuty:</td>
            <td><input type="number" th:field="*{quantity}" required min="1"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create oder"></td>
        </tr>
    </table>
</form>
</body>
</html>