<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit blog type</title>
</head>
<body>
<h1>Edit blog type</h1>
<p>
    <a th:href="@{/blog-types}">List blog type</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-blog-type}" th:object="${blogType}" method="post">
    <table>
        <input th:type="hidden" name="id" th:field="*{id}">
        <tr>
            <td>Ten Blog type:</td>
            <td><input type="text" th:field="*{tenBlogType}" required/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update blog type"></td>
        </tr>
    </table>
</form>
</body>
</html>